In [4]:
import pandas as pd
import numpy as np

In [5]:
# Avaliacoes
cols_ratings = ['userID', 'movieID', 'rating']
ratings = pd.read_csv('movies/user_ratedmovies.dat', sep='\t', error_bad_lines=False, usecols=cols_ratings)

# Filmes
cols_movies = ['movie_id', 'movie_title']
movies = pd.read_csv('movies/movies.dat', sep='\t', error_bad_lines=False, encoding='latin-1')
movies = movies.iloc[:,:2]
movies.columns = ['movieID', 'title']

In [6]:
ratings.head()

   userID  movieID  rating
0      75        3     1.0
1      75       32     4.5
2      75      110     4.0
3      75      160     2.0
4      75      163     4.0

In [83]:
# ratings.at[ratings['userID'] == 75, ratings['movieID'] == 3]
((ratings['userID'] == 75) & (ratings['movieID'] == 4)).any()

False

In [157]:
movies.head()

   movieID                        title
0        1                    Toy story
1        2                      Jumanji
2        3               Grumpy Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

In [7]:
combine_movies_ratings = pd.merge(ratings, movies, on='movieID')[['userID', 'title', 'movieID','rating']]
combine_movies_ratings.head()
#group = pd.DataFrame(ratings.groupby('userID')['movieID'].count())
# group.head()

   userID           title  movieID  rating
0      75  Grumpy Old Men        3     1.0
1     783  Grumpy Old Men        3     2.0
2     788  Grumpy Old Men        3     3.5
3    1160  Grumpy Old Men        3     4.0
4    1174  Grumpy Old Men        3     2.5

In [15]:
ratings_matriz = combine_movies_ratings.pivot_table(index='userID', columns='title', values='rating').fillna(0)
# movie_index = ratings_matriz.columns

In [16]:
ratings_matriz.head()

title,'Breaker' Morant,'Crocodile' Dundee II,'I Know Where I'm Going!','Northwest Passage' (Book I -- Rogers' Rangers),'Round Midnight,'Til There Was You,"'night, Mother",*batteries not included,...All the Marbles,...And Justice for All.,...,Äideistä parhain,Änglagård,Æon Flux,Éloge de l'amour,Éxtasis,Être et avoir,Ôdishon,Ônibus 174,Ôritsu uchûgun Oneamisu no tsubasa,Üç maymun
userID,,,,,,,,,,,,,,,,,,,,,
75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
170,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
array = ratings_matriz

len(array.index)

2113

In [18]:
# Quantidade de usuário, filmes
ratings_matriz.values.shape

(2113, 9330)

In [364]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
array.index[600]

19909

In [362]:
knn.fit(array.values[0:500], array.index[0:500].astype('int'))
pred = knn.predict(array.values[1900].reshape(1, -1))
pred

array([3710])

In [363]:
t_sorted = array.loc[pred]
keys = t_sorted.columns
values = t_sorted.values.tolist()
# values
# d = dict(enumerate(values.flatten(), ))
# d
result = dict(zip(keys, values[0]))
# result
#type(result['10,000 BC'])
sorted_keys = sorted(result, key=result.__getitem__, reverse=True)
sorted_keys[0:11]
#t.values
#(combine_movies_ratings.sort_values('rating').groupby('userID').head(5)).title

['Interview with the Vampire: The Vampire Chronicles',
 'The Lord of the Rings: The Two Towers',
 'The Lord of the Rings: The Fellowship of the Ring',
 'The Saint',
 'Waterworld',
 'Junior',
 'Jurassic Park',
 'Pulp Fiction',
 'Forrest Gump',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Cliffhanger']

### Decision Tree

In [365]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(array.values[0:500], array.index[0:500].astype('int'))
clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [369]:
final = clf.predict(array.values[1900].reshape(1, -1))

In [370]:
t_sorted = array.loc[final]
keys = t_sorted.columns
values = t_sorted.values.tolist()
# values
# d = dict(enumerate(values.flatten(), ))
# d
result = dict(zip(keys, values[0]))
# result
#type(result['10,000 BC'])
sorted_keys = sorted(result, key=result.__getitem__, reverse=True)
sorted_keys[0:11]

['Almost Famous',
 'Back to the Future',
 'Braveheart',
 'Gladiator',
 'Pirates of the Caribbean: The Curse of the Black Pearl',
 'Star Wars: Episode I - The Phantom Menace',
 'Superman',
 'A Beautiful Mind',
 'Pulp Fiction',
 'South Park: Bigger Longer & Uncut',
 'Beverly Hills Cop III']