In [4]:
import pandas as pd
import numpy as np

In [5]:
# Avaliacoes
cols_ratings = ['userID', 'movieID', 'rating']
ratings = pd.read_csv('movies/user_ratedmovies.dat', sep='\t', error_bad_lines=False, usecols=cols_ratings)

# Filmes
cols_movies = ['movie_id', 'movie_title']
movies = pd.read_csv('movies/movies.dat', sep='\t', error_bad_lines=False, encoding='latin-1')
movies = movies.iloc[:,:2]
movies.columns = ['movieID', 'title']

In [6]:
ratings.head()

   userID  movieID  rating
0      75        3     1.0
1      75       32     4.5
2      75      110     4.0
3      75      160     2.0
4      75      163     4.0

In [7]:
# ratings.at[ratings['userID'] == 75, ratings['movieID'] == 3]
((ratings['userID'] == 75) & (ratings['movieID'] == 4)).any()

False

In [8]:
movies.head()

   movieID                        title
0        1                    Toy story
1        2                      Jumanji
2        3               Grumpy Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

In [9]:
# Combinar Tabelas
combine_movies_ratings = pd.merge(ratings, movies, on='movieID')[['userID', 'title', 'movieID','rating']]
combine_movies_ratings.head()
#group = pd.DataFrame(ratings.groupby('userID')['movieID'].count())
# group.head()

   userID           title  movieID  rating
0      75  Grumpy Old Men        3     1.0
1     783  Grumpy Old Men        3     2.0
2     788  Grumpy Old Men        3     3.5
3    1160  Grumpy Old Men        3     4.0
4    1174  Grumpy Old Men        3     2.5

In [10]:
# Matriz de Similaridade 
ratings_matrix = combine_movies_ratings.pivot_table(index='userID', columns='title', values='rating').fillna(0)
# movie_index = ratings_matriz.columns

In [13]:
ratings_matrix.tail()

title,'Breaker' Morant,'Crocodile' Dundee II,'I Know Where I'm Going!','Northwest Passage' (Book I -- Rogers' Rangers),'Round Midnight,'Til There Was You,"'night, Mother",*batteries not included,...All the Marbles,...And Justice for All.,...,Äideistä parhain,Änglagård,Æon Flux,Éloge de l'amour,Éxtasis,Être et avoir,Ôdishon,Ônibus 174,Ôritsu uchûgun Oneamisu no tsubasa,Üç maymun
userID,,,,,,,,,,,,,,,,,,,,,
75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
170,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
190,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0
267,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
325,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
array = ratings_matrix

len(array.index)

2113

In [15]:
# Quantidade de usuário, filmes
ratings_matrix.values.shape

(2113, 9330)

In [16]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
array.index[600]

19909

In [69]:
for k in [5, 50, 100, 200]:
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(array.values[0:500], array.index[0:500].astype('int'))
    pred = knn.predict(array.values[1120].reshape(1, -1))
    print(pred)

[8893]
[127]
[75]
[75]

In [70]:
# print(array.index[75])
# print(array.columns)
# print(array.values[1910])

# Filmes já vistos
movies = dict(zip(array.columns, array.values[1120]))
# print(movies)
movies_watched = []
for key in movies.keys():
    if movies[key] > 0:
        movies_watched.append(key)
print(movies_watched)

2477
Index([''Breaker' Morant', ''Crocodile' Dundee II',
       ''I Know Where I'm Going!'',
       ''Northwest Passage' (Book I -- Rogers' Rangers)', ''Round Midnight',
       ''Til There Was You', ''night, Mother', '*batteries not included',
       '...All the Marbles', '...And Justice for All.',
       ...
       'Äideistä parhain', 'Änglagård', 'Æon Flux', 'Éloge de l'amour',
       'Éxtasis', 'Être et avoir', 'Ôdishon', 'Ônibus 174',
       'Ôritsu uchûgun Oneamisu no tsubasa', 'Üç maymun'],
      dtype='object', name='title', length=9330)
[0. 0. 0. ... 0. 0. 0.]
['Ace Ventura: When Nature Calls', 'American Beauty', 'Armageddon', 'As Good as It Gets', 'Austin Powers: International Man of Mystery', 'Austin Powers: The Spy Who Shagged Me', 'Back to the Future Part III', 'Bend It Like Beckham', 'Ghost Busters', 'GoldenEye', 'Good Morning, Vietnam', 'Home Alone', 'Honey, I Shrunk the Kids', 'Jumanji', 'Legally Blonde', 'Much Ado About Nothing', 'Pay It Forward', 'Pretty Woman', 'Road Trip', 'The American President', 'The Cable Guy', 'The Godfather: Part II', 'The School of Rock', 'Top Gun', 'Toy Story', 'United 93']

In [75]:
pred = [75]
t_sorted = array.loc[pred]
keys = t_sorted.columns
values = t_sorted.values.tolist()
# values
# d = dict(enumerate(values.flatten(), ))
# d
result = dict(zip(keys, values[0]))
# result
#type(result['10,000 BC'])
sorted_keys = sorted(result, key=result.__getitem__, reverse=True)
recommend_movies = sorted_keys[0:10]
recommend_movies 
#t.values
#(combine_movies_ratings.sort_values('rating').groupby('userID').head(5)).title

['Pulp Fiction',
 'Sin City',
 'Army of Darkness',
 'Die Hard: With a Vengeance',
 'Fight Club',
 'Hostage',
 'Last Man Standing',
 "Pirates of the Caribbean: Dead Man's Chest",
 'Ransom',
 'South Park: Bigger Longer & Uncut']

In [76]:
# Avaliação: Filmes vistos - Filmes recomendados KNN
cont = 0
for movie in recommend_movies:
    if movie not in movies_watched:
        cont += 1
print(cont)

10

### Decision Tree

In [80]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(array.values[0:500], array.index[0:500].astype('int'))
clf

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [85]:
final = clf.predict(array.values[1120].reshape(1, -1))

In [86]:
t_sorted = array.loc[final]
keys = t_sorted.columns
values = t_sorted.values.tolist()
# values
# d = dict(enumerate(values.flatten(), ))
# d
result = dict(zip(keys, values[0]))
# result
#type(result['10,000 BC'])
sorted_keys = sorted(result, key=result.__getitem__, reverse=True)
movies_tree = sorted_keys[0:10]

In [87]:
# Avaliação: Filmes vistos - Filmes recomendados Decision Tree
cont_tree = 0
for movie in movies_tree:
    if movie not in movies_watched:
        cont_tree += 1
print(cont_tree)

8