In [9]:
import pandas as pd
import numpy as np

In [155]:
# Avaliacoes
cols_ratings = ['userID', 'movieID', 'rating']
ratings = pd.read_csv('movies/user_ratedmovies.dat', sep='\t', error_bad_lines=False, usecols=cols_ratings)

# Filmes
cols_movies = ['movie_id', 'movie_title']
movies = pd.read_csv('movies/movies.dat', sep='\t', error_bad_lines=False, encoding='latin-1')
movies = movies.iloc[:,:2]
movies.columns = ['movieID', 'title']

In [156]:
ratings.head()

   userID  movieID  rating
0      75        3     1.0
1      75       32     4.5
2      75      110     4.0
3      75      160     2.0
4      75      163     4.0

In [83]:
# ratings.at[ratings['userID'] == 75, ratings['movieID'] == 3]
((ratings['userID'] == 75) & (ratings['movieID'] == 4)).any()

False

In [157]:
movies.head()

   movieID                        title
0        1                    Toy story
1        2                      Jumanji
2        3               Grumpy Old Men
3        4            Waiting to Exhale
4        5  Father of the Bride Part II

In [163]:
combine_movies_ratings = pd.merge(ratings, movies, on='movieID')[['userID', 'title', 'movieID','rating']]
combine_movies_ratings.head()
#group = pd.DataFrame(ratings.groupby('userID')['movieID'].count())
# group.head()

   userID           title  movieID  rating
0      75  Grumpy Old Men        3     1.0
1     783  Grumpy Old Men        3     2.0
2     788  Grumpy Old Men        3     3.5
3    1160  Grumpy Old Men        3     4.0
4    1174  Grumpy Old Men        3     2.5

In [85]:
from scipy.sparse import csr_matrix

In [212]:
ratings_matriz = combine_movies_ratings.pivot_table(index='userID', columns='title', values='rating').fillna(0)
# movie_index = ratings_matriz.columns

In [283]:
ratings_matriz.head()

title,'Breaker' Morant,'Crocodile' Dundee II,'I Know Where I'm Going!','Northwest Passage' (Book I -- Rogers' Rangers),'Round Midnight,'Til There Was You,"'night, Mother",*batteries not included,...All the Marbles,...And Justice for All.,...,Äideistä parhain,Änglagård,Æon Flux,Éloge de l'amour,Éxtasis,Être et avoir,Ôdishon,Ônibus 174,Ôritsu uchûgun Oneamisu no tsubasa,Üç maymun
userID,,,,,,,,,,,,,,,,,,,,,
75,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
78,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
127,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
170,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
175,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [247]:
array = ratings_matriz

len(array.index)

2113

In [239]:
# Quantidade de usuário, filmes
ratings_matriz.values.shape

(2113, 9330)

In [276]:
ratings_space = csr_matrix(ratings_matriz.values)
ratings_space

<2114x9330 sparse matrix of type '<class 'numpy.float64'>'
	with 849040 stored elements in Compressed Sparse Row format>

In [322]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
array.index[600]

19909

In [323]:
knn.fit(array.values[0:500], array.index[0:500].astype('int'))
pred = knn.predict(array.values[600].reshape(1, -1))
pred

array([4650])

In [331]:
t = array.loc[pred]
t.values
(combine_movies_ratings.sort_values('rating').groupby('userID').head(5)).title

array([[ 0.,  0.,  0., ...,  0.,  0.,  0.]])

In [344]:
x = (combine_movies_ratings.groupby('userID'))
x.head()

0                                            Grumpy Old Men
1                                            Grumpy Old Men
2                                            Grumpy Old Men
3                                            Grumpy Old Men
4                                            Grumpy Old Men
5                                            Grumpy Old Men
6                                            Grumpy Old Men
7                                            Grumpy Old Men
8                                            Grumpy Old Men
9                                            Grumpy Old Men
10                                           Grumpy Old Men
11                                           Grumpy Old Men
12                                           Grumpy Old Men
13                                           Grumpy Old Men
14                                           Grumpy Old Men
15                                           Grumpy Old Men
16                                           Grumpy Old Men
17                                           Grumpy Old Men
18                                           Grumpy Old Men
19                                           Grumpy Old Men
20                                           Grumpy Old Men
21                                           Grumpy Old Men
22                                           Grumpy Old Men
23                                           Grumpy Old Men
24                                           Grumpy Old Men
25                                           Grumpy Old Men
26                                           Grumpy Old Men
27                                           Grumpy Old Men
28                                           Grumpy Old Men
29                                           Grumpy Old Men
                                ...
311388                   Indiana Jones and the Last Crusade
319927                                Young Sherlock Holmes
328077                                     28 Days Later...
329166                          Big Trouble in Little China
338401                                           Spider-Man
343749                                            Daredevil
344664                                        Evan Almighty
346351    Pirates of the Caribbean: The Curse of the Bla...
357926                                             I, Robot
361646                                   Brokeback Mountain
363641                                Underworld: Evolution
366280                                         Spider-Man 3
367174                                         Transformers
367545            Harry Potter and the Order of the Phoenix
367795                                             Stardust
368843                                             Iron Man
376047                                           Barbarella
384762                                        Lost in Space
395604                                       Nine 1/2 Weeks
417931                                Das Leben der Anderen
429251                                    The Addams Family
446481                                            The Queen
458017                                                   Go
476904                                   Meet the Robinsons
477654                      Aladdin and the King of Thieves
489482                             When a Man Loves a Woman
490222                                    The Secret Garden
547135                               My Super Ex-Girlfriend
573212                                            Anastasia
609935                                  The Incredible Hulk
Name: title, Length: 10565, dtype: object